asgiref==3.8.1
Django==5.0.4
sqlparse==0.4.4
celery==5.3.6
uvicorn==0.23.2
gunicorn==20.0.4
python-dotenv==0.20.0
psycopg2-binary==2.9.9
pgsql==2.2
wagtail==6.0.2
pgvector==0.2.5
wagtail-modeladmin==2.0.0

#triton
aiohttp==3.9.3
aiosignal==1.3.1
attrs==23.2.0
Brotli==1.1.0
certifi==2024.2.2
click==8.1.7
frozenlist==1.4.1
gevent==24.2.1
geventhttpclient==2.0.2
greenlet==3.0.3
idna==3.6
multidict==6.0.5
numpy==1.26.4
opencv-python==4.9.0.80
python-rapidjson==1.16
six==1.16.0
tritonclient==2.44.0
urllib3==2.2.1
yarl==1.9.4
youtokentome @ git+https://github.com/gburlet/YouTokenToMe.git@e0fec1f6e52fc75a841ed3fab8f583448b1deedf
zope.event==5.0
zope.interface==6.2
